{% extends 'store/base.html' %} {% block content %}
<div class="container-xl px-4 mt-4">
  <!-- Account page navigation-->
  {% include 'user_accounts/profile_navi_bar.html' %}
  <hr class="mt-0 mb-4" />


  <div class="row">
    <div class="col-xl-8">
      <!-- Account details card-->
      <div class="card mb-4">
        <div class="card-header">Order Details</div>
        <div class="card-body">
          <!-- Profile details form-->
      
            <!-- Display error messages -->
            {% if messages %}
            <ul class="messages">
              {% for message in messages %}
              <li class="text-danger">{{ message }}</li>
              {% endfor %}
            </ul>
            {% endif %}

          {% if orderlist %}
     
            <!--Display orders-->
            <div class = "row justify-content-center" >
              <table class = "table table-success padding: 0.5rem 0.5rem " style="width: 75%;">
                  <tr>
                      <th>Order Id</th>
                      <th>Date</th>
                      <th>Total</th>
                      <th>Total</th>
                  {% for order in orderlist %}
                  <tr>
                      <div>
                          <td>{{ order.id }}</td>
                          <td>{{ order.date }}</td>
                          <td>{{ order.total }}</td>
                          <td>{{ order.status }}</td>
                          </td>
                      </div>
                  </tr>
                  {% empty %}
                      <h3 class = "row justify-content-center" >Your order is empty.</h3>
                  {% endfor %}
             
                  </div>
              </table>

          {% else %}
              <h3 class = "row justify-content-center" >Your order is empty.</h3>
          {% endif %}
                


            <!-- Go back to shop -->
             <a class="btn btn-primary ms-2" href="{% url 'shop' %}">Back to Shop</a>
        
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}


