{% extends 'store/base.html' %} {% block content %}
<div class="container">
  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img
          src="{{ product.image.url }}"
          class="img-fluid rounded-start"
          alt="Product Image"
        />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <!-- Product name-->
          <h5 class="fw-bolder">{{product.name}}</h5>
          <!-- Stars -->
          <div class="d-flex small text-warning mb-2">
            <div class="bi-star-fill"></div>
            <div class="bi-star-fill"></div>
            <div class="bi-star-fill"></div>
            <div class="bi-star-fill"></div>
            <div class="bi-star-fill"></div>
          </div>


          <!-- Product price striked if sale-->
          <h4>
          {% if product.is_sale %}
          <strike> ${{product.price}} </strike>
          {% endif %}
          &nbsp; ${{product.sale_price}}
          </h4>
          <br />
          <p class = "card-text">
          {{product.description}}
          </p>
          </div>
          <p class = "card-text">
          {{product.more_info}}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}  
