{% extends 'store/base.html' %}
<!-- Header-->
{% block content %}


  <div class="container px-4 px-lg-5 mt-5">
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
        <div class="col mb-5">
          <div class="card h-100">
            <!--Sales badge-->
            <div class= "badge bg-black text-white position-absolute" style= "top: 0.5rem; right: 0.5 rem">
              Sale!!!
          </div>


          <!-- Product image-->
          <img class="card-img-top" src="" alt="..." />
         
          <!-- Product details-->
          <div class="card-body p-4">
            <div class="text-center">
              <!-- Product name-->
              <h5 class="fw-bolder"> Google Pixel 9</h5>


              <div class="d-flex justify-content-center small text-warning mb-2">
                <div class="bi-star-fill"></div>
                <div class="bi-star-fill"></div>
                <div class="bi-star-fill"></div>
                <div class="bi-star-fill"></div>
                <div class="bi-star-fill"></div>
              </div>


              <!-- Product price striked if sale-->
              <strike> $Product price </strike>
              &nbsp; Product sale_price
              <br />
              Product description
            </div>
          </div>


          <!-- Product actions-->
          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center">
              <a class="btn btn-outline-dark mt-auto" href = "#" > View Product</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
