{% extends 'store/base.html' %} 
{% block content %}
<div class="container-xl px-4 mt-4">
  <!-- Account page navigation-->
  {% include 'user_accounts/profile_navi_bar.html' %}
  <hr class="mt-0 mb-4" />


  <div class="row justify-content-center">
    <div class="col-xl-8 col-md-10 col-sm-12">
      <!-- Change password card-->
      <div class="card mb-4">
        <div class="card-header bg-primary text-white text-center">Change Password</div>
        <div class="card-body">
          <!-- Profile details form-->
          <form method="POST" action="{% url 'change_password' %}">
            {% csrf_token %}


            <!-- Display error messages -->
            {% if messages %}
            <ul class="list-unstyled text-danger mb-4">
              {% for message in messages %}
              <li>{{ message }}</li>
              {% endfor %}
            </ul>
            {% endif %}


            <!-- Form Row for old password -->
            <div class="row gx-3 mb-3">
              <div class="col-md-6">
                <label class="small mb-1" for="oldPassword">Old Password</label>
                <input
                  class="form-control"
                  id="oldPassword"
                  type="password"
                  name="oldPassword"
                  required
                />
                <small class="form-text text-muted">
                  Enter your current password.
                </small>
              </div>
            </div>


            <!-- Form Row for New Password and Confirmation -->
            <div class="row gx-3 mb-3">
              <div class="col-md-6">
                <label class="small mb-1" for="newPassword">New Password</label>
                <input
                  class="form-control"
                  id="newPassword"
                  type="password"
                  name="newPassword"
                  required
                />
                <small class="form-text text-muted">
                  Must be at least 8 characters long, and include at least one
                  letter, one number, and one special character (e.g., !@#$%).
                </small>
              </div>
              <div class="col-md-6">
                <label class="small mb-1" for="confirmPassword">Confirm New Password</label>
                <input
                  class="form-control"
                  id="confirmPassword"
                  type="password"
                  name="confirmPassword"
                  required
                />
                <small class="form-text text-muted">
                  Re-enter your new password to confirm.
                </small>
              </div>
            </div>


            <!-- Save changes button -->
            <button class="btn btn-primary w-100" type="submit">Save changes</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
